<div class="modal-header">
    <h4 class="modal-title">Edit Product</h4>
    <a href="javascript:void(0);" class="close" (click)="closeDialog()">
      <span>×</span>
    </a>
    
  </div>
  <div class="modal-body">
      <div class='editBox'>
        <div class='childBox' >
          <img [src]="productForm.controls['image'].value" alt="">
        </div>
        <div class='childBox'>
          <form>
            <div class="form-group">
              <label >Title</label>
              <input type="text" class="form-control"  placeholder="Title" [formControl]="productForm.controls['title']">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" appNumberOnly  [formControl]="productForm.controls['price']" placeholder="description">
            </div>
            <div class="form-group">
              <label >Description</label>
              <textarea class="form-control" [formControl]="productForm.controls['description']" rows="3"></textarea>
            </div>
          </form>
         
        </div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="saveform(productForm)" [disabled]='productForm.invalid' > Save</button>
</div>