footer {
    position: fixed;
    width: 100%;
    left: 0;
    text-align: left;
    z-index: 5;
    bottom: 0px;
    background-color: #c4c9cd;
}

footer h2 {
    font-size: 14px;
    color: #fff;
    margin: 0;
    font-weight: 300;
    padding: 12px 0;
}


@media only screen and (max-width: 767px) {
    footer{
        display: none;
    }
}